@import url("https://fonts.googleapis.com/css?family=Laila:300,regular,500,600,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a :focus, a :active {
  outline: none;
  text-decoration: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
}

input, button, textarea {
  font-family: inherit;
}

input ::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button ::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  font-size: 1rem;
  background-color: #FCFCFC;
  color: #121212;
}

.container {
  margin: 0 auto;
  max-width: 1350px;
  height: 100%;
  padding: 0 15px;
}

.main {
  flex: 1 1 auto;
}

body {
  background-color: #FCFCFC;
  font-family: "Roboto";
  font-size: 1rem;
}

body.lock {
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-bottom: 7rem;
}
.header__burger {
  display: none;
}
.header__row {
  width: 100%;
  padding: 3.25rem 0px;
  position: fixed;
  transition: 0.3s all ease;
  z-index: 9999;
}
.header__row.scroll {
  padding: 0.85rem 0px;
  transition: 0.3s all ease;
  background-color: rgba(62, 172, 148, 0.9137254902);
  color: #FCFCFC;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
.header__background {
  width: 110%;
  height: 105%;
  background: url(../img/header__bg.png) no-repeat;
  background-size: cover;
  position: absolute;
  top: -5px;
  left: 0;
  z-index: 1;
}

.header__row_body {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.header__row_logo {
  display: flex;
  flex-shrink: 0;
  cursor: pointer;
  transition: 0.5s;
}
.header__row_logo:hover {
  filter: drop-shadow(0px 0px 12px rgba(131, 219, 207, 0.767));
}

.navigation {
  width: 100%;
}
.navigation__list {
  display: flex;
  max-width: 18.5rem;
  justify-content: space-between;
  gap: 2.5rem;
  margin: 0 auto;
}
.navigation__link {
  font-family: "Laila";
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 114.286%;
  transition: 0.3s;
  position: relative;
}
.navigation__link:hover {
  color: #1D4449;
}
.navigation__link::before {
  position: absolute;
  width: 0;
  content: "";
  height: 0.04rem;
  top: 0px;
  left: 50%;
  transition: 0.3s;
  background-color: #1D4449;
}
.navigation__link:hover::before {
  width: 100%;
  left: 0;
}

.links {
  display: flex;
  gap: 1.38rem;
}
.links__box {
  cursor: pointer;
}
.links__box path {
  transition: 0.3s;
}
.links__box:hover .path_1 {
  fill: #3EAC94;
  opacity: 0.9;
}

@media (max-width: 768px) {
  .header {
    padding-bottom: 1rem;
  }
  .header__burger {
    display: block;
    width: 30px;
    height: 23.5px;
    position: relative;
    z-index: 999999;
    cursor: pointer;
  }
  .header__burger::before, .header__burger::after {
    position: absolute;
    content: "";
    transition: 0.3s;
    height: 2px;
    background-color: #1D4449;
    border-radius: 3px;
  }
  .header__burger::before {
    top: 1.5px;
    right: 0;
    width: 60%;
  }
  .header__burger.active::before {
    transform: rotate(45deg);
    width: 100%;
    top: 10.6px;
    background-color: #fff;
  }
  .header__burger::after {
    left: 0;
    bottom: 1.5px;
    width: 60%;
  }
  .header__burger.active::after {
    transform: rotate(-45deg);
    width: 100%;
    bottom: 10.6px;
    background-color: #fff;
  }
  .header__burger span {
    position: absolute;
    transition: 0.3s;
    height: 2px;
    width: 100%;
    background-color: #1D4449;
    border-radius: 3px;
    top: 10.6px;
  }
  .header__burger.active span {
    opacity: 0;
  }
  .header__row {
    padding: 1.05rem 0px;
  }
  .header__row.scroll {
    padding: 0.59rem 0px;
  }
  .header__row_body {
    justify-content: center;
    gap: 15px;
  }
  .header__row_logo {
    margin-right: auto;
    position: relative;
    z-index: 999991;
  }
  .header__row_logo svg {
    width: 100px;
  }
  .navigation {
    display: flex;
    width: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(62, 172, 148, 0.9058823529);
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
    z-index: 99999;
    transition: 0.3s;
    color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .navigation__list {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-content: start;
    align-items: center;
    gap: 1.5rem;
    padding: 5rem 0;
    margin: 0 auto;
    height: 100%;
  }
  .navigation__link {
    font-size: 3rem;
  }
  .header__row.active .navigation {
    left: 0;
  }
  .links {
    display: flex;
    gap: 1rem;
    position: relative;
    z-index: 9999999;
  }
  .links__box svg {
    width: 30px;
  }
}
.header__main {
  position: relative;
  z-index: 1;
  margin-top: 160px;
}
.header__main_body {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.header__main_content {
  flex: 0 0 50%;
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: "Laila";
  margin-top: 80px;
}
.header__main_title {
  color: #1D4449;
  font-feature-settings: "clig" off, "liga" off;
  font-size: calc(24px + 1.7777777778vw);
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0.0625rem;
}
.header__main_box {
  display: flex;
  flex-direction: column;
  padding-left: 14%;
}
.header__main_sabtitle {
  color: #1D4449;
  font-feature-settings: "clig" off, "liga" off;
  font-size: calc(42px + 3.1111111111vw);
  font-weight: 700;
  line-height: 133.333%;
  letter-spacing: 0.0625rem;
}
.header__main_text {
  color: #1D4449;
  font-feature-settings: "clig" off, "liga" off;
  font-size: calc(16px + 1.1851851852vw);
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.0625rem;
}
.header__main_text span {
  font-weight: 500;
}
.header__main_img img {
  width: 100%;
  max-width: 500px;
}

@media (max-width: 768px) {
  .header__main {
    margin-top: 50px;
    width: 100%;
  }
  .header__main_body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
  }
  .header__main_content {
    flex: 0 0 100%;
    width: 100%;
    gap: 0px;
    margin-top: 35px;
  }
  .header__main_title {
    font-size: calc(22px + 1.6296296296vw);
    letter-spacing: 0.0625rem;
  }
  .header__main_box {
    padding-left: 0%;
  }
  .header__main_sabtitle {
    font-size: calc(39px + 2.8888888889vw);
  }
  .header__main_text {
    font-size: calc(15px + 1.037037037vw);
    line-height: 140%;
  }
  .header__main_img img {
    width: 100%;
    max-width: 500px;
    max-height: 350px;
  }
}
.how {
  padding: 0.5rem 0 3.5rem 0;
  position: relative;
  width: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(320deg, rgb(255, 255, 255) 38%, rgba(135, 255, 239, 0.9) 100%);
  overflow: hidden;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.how .how__background {
  position: absolute;
  left: 0;
  top: 0;
  width: 110%;
  height: 110%;
  background: url(../img/how_bg.png) no-repeat;
  background-size: cover;
  opacity: 0.5;
}
.how .how__background1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 110%;
  opacity: 0.5;
  height: 110%;
  background: url(../img/image\ 101.png) no-repeat;
  background-size: cover;
  opacity: 0.6;
}
.how__body {
  display: flex;
  gap: 25px;
  width: 100%;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}
.how__box {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.how__box p {
  color: #121212;
  font-size: calc(10px + 0.7407407407vw);
  font-weight: 400;
  line-height: 150%;
}
.how__box p span {
  font-weight: 700;
}

.how__button {
  display: none;
}

@media (max-width: 768px) {
  .how {
    padding: 0.5rem 0 3.5rem 0;
  }
  .how__body {
    flex-direction: column;
    gap: 15px;
  }
  .how .how__adaptive {
    display: grid;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
  .how .how__adaptive.show {
    max-height: 500px; /* Adjust this value based on your content's height */
  }
  .how__box {
    gap: 10px;
  }
  .how__box p {
    font-size: calc(11px + 0.7407407407vw);
  }
  .how__button {
    display: block;
    background-color: transparent;
    text-transform: uppercase;
    font-family: "Laila";
    font-weight: 600;
    color: #1D4449;
    max-width: -moz-max-content;
    max-width: max-content;
    padding-bottom: 1px;
    border-bottom: 2px solid #1D4449;
    text-align: left;
    font-size: calc(11px + 0.8148148148vw);
  }
}
.map {
  padding: 8rem 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.map__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 2;
  gap: 6rem;
}
.map__title {
  color: #3EAC94;
  font-family: "Laila";
  font-size: calc(28px + 2.0740740741vw);
  font-weight: 700;
  line-height: 112.5%;
}
.map__background {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 110%;
  height: 110%;
  background-image: url(../img/20483\ .png);
  background-repeat: no-repeat;
  background-size: cover;
}
.map__background::before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.2;
  content: "";
  background: rgb(138, 232, 220);
  background: linear-gradient(180deg, rgba(138, 232, 220, 0.5) 0%, rgb(255, 255, 255) 100%);
}
.map .container {
  max-width: 850px;
}

.step {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  text-align: left;
  width: 100%;
  max-width: 35rem;
  justify-content: end;
  margin-left: auto;
  position: relative;
}
.step__way {
  position: absolute;
  top: 60%;
  left: -48%;
}
.step__way.left {
  top: 53%;
  left: -79%;
}
.step__ico {
  position: absolute;
  left: -70%;
  top: 0;
  color: #1D4449;
  font-size: calc(45px + 3.1851851852vw);
}
.step__title {
  color: #1D4449;
  font-family: "Laila";
  font-size: calc(25px + 1.8518518519vw);
  font-weight: 700;
  line-height: 100%;
}
.step__content {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}
.step__box {
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
  position: relative;
}
.step__box_title {
  color: #1D4449;
  font-family: "Laila";
  font-size: calc(21px + 1.5555555556vw);
  font-weight: 700;
  line-height: 112.5%;
}
.step__box_text {
  color: #121212;
  font-size: calc(9px + 0.6666666667vw);
  font-weight: 400;
  line-height: 150%;
}

@media (max-width: 937px) {
  .map {
    padding: 3rem 0;
  }
  .map__body {
    gap: 3rem;
  }
  .step__ico {
    left: -30%;
  }
  .step__way {
    position: absolute;
    top: 60%;
    left: -15%;
  }
  .step__way svg {
    width: 100%;
    max-width: 35px;
    max-height: 160px;
  }
  .step__way.left {
    top: 53%;
    left: -38%;
  }
}
@media (max-width: 710px) {
  .map {
    padding: 2rem 0;
  }
  .map__body {
    gap: 3rem;
  }
  .map__title {
    font-size: calc(20px + 1.7777777778vw);
  }
  .step {
    gap: 2rem;
    text-align: center;
    width: 100%;
    max-width: 100%;
    justify-content: center;
  }
  .step .step__ico {
    left: 0%;
    top: 4%;
    font-size: 20px;
  }
  .step .step__way {
    top: 110%;
    left: 50%;
  }
  .step .step__way svg {
    width: 100%;
    max-width: 35px;
    max-height: 60px;
  }
  .step .step__way.left {
    top: 110%;
    left: 50%;
  }
  .step__way {
    position: absolute;
    top: 60%;
    left: -48%;
  }
  .step__way.left {
    top: 53%;
    left: -79%;
  }
  .step__title {
    font-size: calc(30px + 2.2222222222vw);
  }
  .step__content {
    gap: 5.5rem;
  }
  .step__box {
    gap: 1.5rem;
  }
  .step__box_title {
    font-size: calc(24px + 1.7777777778vw);
    max-width: 280px;
    margin: 0 auto;
  }
  .step__box_text {
    font-size: calc(12px + 0.8148148148vw);
  }
}
.connect {
  padding: 4.5rem 0 0 0;
  position: relative;
  background-color: rgba(109, 180, 165, 0.2117647059);
  overflow: hidden;
}
.connect__background {
  position: absolute;
  width: 110%;
  height: 110%;
  top: 0px;
  left: 0;
  opacity: 0.2;
}
.connect__body {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}
.connect__img img {
  width: 100%;
  max-width: 600px;
}
.connect__content {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.connect__title {
  color: #000;
  font-family: "Laila";
  font-size: calc(30px + 2.2222222222vw);
  font-weight: 700;
  line-height: 120%;
}
.connect__social {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.connect__link {
  border-radius: 2.6875rem;
  background: #184066;
  display: flex;
  padding: 0.5rem 2rem;
  opacity: 0.9;
  justify-content: center;
  align-items: center;
  gap: 1.1rem;
  color: #FFF;
  font-family: "Laila";
  font-size: calc(8px + 0.6666666667vw);
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  transition: 0.3s;
  white-space: nowrap;
}
.connect__link path {
  transition: 0.3s;
}
.connect__link:hover .path_1 {
  fill: rgba(24, 64, 102, 0.8784313725);
  opacity: 0.9;
}
.connect__link:hover {
  background: #0c2742;
}

@media (max-width: 670px) {
  .wrapper .connect {
    padding: 4rem 0 0 0;
  }
  .wrapper .connect__body {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
  }
  .wrapper .connect__img img {
    width: 100%;
    max-width: 600px;
    max-height: 400px;
  }
  .wrapper .connect__content {
    gap: 1.5rem;
  }
  .wrapper .connect__title {
    color: #1D4449;
    font-size: calc(30px + 2.2222222222vw);
  }
  .wrapper .connect__social {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }
  .wrapper .connect__link {
    border-radius: 2.6875rem;
    padding: 0.5rem 3rem;
    gap: 1.1rem;
    font-size: calc(11px + 0.8148148148vw);
    width: 100%;
    max-width: 540px;
  }
}
@media (max-width: 900px) {
  .connect {
    padding: 3rem 0 0 0;
  }
  .connect__content {
    gap: 2rem;
  }
  .connect__title {
    font-size: calc(25px + 1.7777777778vw);
  }
  .connect__social {
    gap: 0.5rem;
  }
  .connect__link {
    border-radius: 2.6875rem;
    background: #184066;
    display: flex;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
    font-size: calc(8px + 0.6666666667vw);
  }
  .connect__link svg {
    width: 35px;
    height: 35px;
  }
}
.team {
  padding: 8rem 0 6rem 0;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.team__background {
  position: absolute;
  width: 110%;
  height: 110%;
  left: 0;
  background-position: center center;
  top: 0;
  background-image: url(../img/team-back.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.team__body {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  gap: 4rem;
}
.team__title {
  color: #1D4449;
  font-family: "Laila";
  font-size: calc(28px + 2.0740740741vw);
  font-weight: 700;
  line-height: 100%;
}
.team__content {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 3.5rem;
  margin: 0 auto;
  max-width: 1000px;
}

.card {
  text-align: left;
  display: flex;
  padding: 3rem 2.5rem;
  align-items: center;
  border-radius: 1.5rem;
  gap: 2rem;
  background: rgba(255, 255, 255, 0.4);
}
.card__img {
  flex: 0 0 25%;
  overflow: hidden;
  border-radius: 50%;
}
.card__img img {
  width: 100%;
  max-width: 20rem;
  min-width: 10rem;
  transition: 0.3s;
}
.card:hover .card__img img {
  transform: scale(1.05);
}
.card__box {
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
}
.card__title {
  color: #1D4449;
  font-family: "Laila";
  font-size: calc(24px + 1.7037037037vw);
  font-weight: 700;
  line-height: 112.5%;
  margin-bottom: 0.6rem;
}
.card__sabtitle {
  color: #3EAC94;
  font-family: "Laila";
  font-size: calc(14px + 1.037037037vw);
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 1.3rem;
}
.card__sabtext {
  font-size: calc(9px + 0.5925925926vw);
  font-weight: 400;
  line-height: 150%;
}

@media (max-width: 570px) {
  .wrapper .team {
    padding: 5.5rem 0 3rem 0;
  }
  .wrapper .team__background {
    background-image: url(../img/team-back1.png);
  }
  .wrapper .team__body {
    gap: 3rem;
  }
  .wrapper .team__title {
    font-size: calc(20px + 2.6666666667vw);
  }
  .wrapper .team__content {
    gap: 2rem;
  }
  .card {
    text-align: center;
    flex-direction: column;
    padding: 2rem;
    gap: 1.5rem;
  }
  .card__img {
    flex: 1 1 100%;
  }
  .card__img img {
    width: 100%;
    width: 4rem;
  }
  .card__box {
    padding-top: 0rem;
  }
  .card__title {
    font-size: calc(25px + 1.9259259259vw);
    margin-bottom: 0.4rem;
  }
  .card__sabtitle {
    font-size: calc(14px + 1.037037037vw);
    margin-bottom: 0.8rem;
  }
  .card__sabtext {
    font-size: calc(11px + 0.7407407407vw);
  }
}
.faq {
  padding: 7rem 0 12rem 0;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.faq__background {
  position: absolute;
  left: 0;
  top: 0;
  width: 110%;
  background-image: url("../img/spoiler__back.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 110%;
}
.faq__body {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 4.5rem;
}
.faq__title {
  color: #1D4449;
  font-family: "Laila";
  font-size: calc(28px + 2.0740740741vw);
  font-weight: 700;
  line-height: 100%;
}
.faq__content {
  display: flex;
  flex-direction: column;
}
.faq .container {
  max-width: 1000px;
}

.spoiler {
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
  gap: 1rem;
  text-align: left;
}
.spoiler:not(:first-child) {
  border-top: 2px solid rgba(55, 114, 121, 0.5450980392);
}
.spoiler__title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.spoiler__title h1 {
  color: #1D4449;
  font-family: "Laila";
  font-size: calc(12.5px + 0.9259259259vw);
  font-weight: 700;
  line-height: 160%;
  flex: 0 0 65%;
}
.spoiler__arrow {
  transition: 0.3s;
}
.spoiler__arrow svg {
  width: 35px;
  height: 35px;
}
.spoiler.active .spoiler__arrow {
  transform: rotate(90deg);
}
.spoiler__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  font-size: calc(9.5px + 0.6666666667vw);
  font-weight: 400;
  line-height: 162.5%;
  padding: 0 0.6rem;
}
.spoiler.active .spoiler__content {
  max-height: 1000px;
  opacity: 1;
  transition: max-height 0.5s ease-in, opacity 0.5s ease-in;
}
.spoiler__list {
  padding-left: 2rem;
  font-size: calc(9px + 0.5925925926vw);
  opacity: 0.9;
}
.spoiler__list li {
  list-style-type: disc;
}

@media (max-width: 700px) {
  .faq {
    padding: 4rem 0 6rem 0;
  }
  .faq__background {
    background-image: url("../img/spoiler__back-small.png");
    background-position: center top;
  }
  .faq__body {
    gap: 2.5rem;
  }
  .faq__title {
    font-size: calc(25px + 1.8518518519vw);
  }
  .spoiler {
    padding: 1.2rem 0;
    gap: 0rem;
  }
  .spoiler:not(:first-child) {
    border-top: 1px solid rgba(55, 114, 121, 0.5450980392);
  }
  .spoiler__arrow svg {
    width: 20px;
    height: 20px;
  }
  .spoiler__content {
    gap: 0.4rem;
    font-size: calc(10px + 0.7407407407vw);
    padding: 0 0.3rem;
  }
  .spoiler.active .spoiler__content {
    max-height: 2000px;
  }
  .spoiler__list {
    padding-left: 1rem;
    font-size: calc(9px + 0.7037037037vw);
  }
}
.footer {
  padding: 5rem 0 3.3rem 0;
  background: #1D4449;
  color: #fff;
  width: 100%;
  height: 100%;
}
.footer__body {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 1.3rem;
  justify-content: space-between;
}
.footer__maintext {
  flex: 0 0 49%;
  font-family: "Bebas Neue";
  font-size: calc(20px + 1.4814814815vw);
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 130%;
  text-transform: uppercase;
}
.footer__box {
  flex: 0 0 49%;
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
  justify-content: space-between;
}
.footer__text {
  color: rgba(255, 255, 255, 0.7);
  font-size: calc(10px + 0.7407407407vw);
  line-height: 145%;
}
.footer__link {
  font-family: "Laila";
  font-size: 1.5rem;
  font-weight: 600;
  line-height: normal;
}
.footer__link span {
  padding-left: 7px;
  padding-bottom: 2px;
}
.footer__link span svg {
  transition: 0.3s;
}
.footer__link:hover span svg {
  transform: translate(5px, -5px);
}

@media (max-width: 700px) {
  .footer {
    padding: 4rem 0 5rem 0;
  }
  .footer__body {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .footer__maintext {
    flex: 0 0 100%;
    font-size: calc(25px + 1.8518518519vw);
    letter-spacing: 1.5px;
  }
  .footer__box {
    flex: 0 0 100%;
    gap: 1.5rem;
  }
  .footer .footer__sabtext {
    color: #fff;
    font-weight: 500;
  }
  .footer__text {
    font-size: calc(14px + 0.8888888889vw);
    line-height: 155%;
    word-spacing: 3px;
    font-weight: 300;
  }
  .footer__link {
    font-size: 1.5rem;
  }
  .footer__link span {
    padding-left: 7px;
    padding-bottom: 2px;
  }
}/*# sourceMappingURL=style.css.map */